body{
    background-color: #7fffd4 !important;
}

.my-square{
    display: inline-block;
    background-color: white;
    border: 1px solid #7fffd4;
    width: 100px;
    height: 100px;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: transform .2s;
}

.my-square:hover{
    cursor: pointer;
    transform: scale(.95);
}

.topbox{
    height: 10vh;
}

.bottombox{
    height: 90vh;
}

.active{
    background-color: #1b995e;
}

.active:hover{
    cursor: inherit;
    transform: scale(1);
}